<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-stockfish" version="1.6.0">
  <name>Cordova Stockfish Plugin</name>
  <description>Cordova interface to Stockfish chess engine.</description>
  <author>Sébastien Renault</author>
  <keywords>cordova,stockfish</keywords>
  <license>MIT</license>

  <js-module src="www/CordovaPluginStockfish.js" name="CordovaPluginStockfish">
    <clobbers target="Stockfish" />
  </js-module>

  <platform name="android">
    <source-file src="src/android/org.lichess.stockfish/CordovaPluginStockfish.java" target-dir="src/org/lichess/stockfish" />
    <source-file src="src/android/jni" target-dir="." />
    <source-file src="src/share/threadbuf.h" target-dir="./jni/stockfishjni" />
    <source-file src="src/share/stockfish/src/benchmark.cpp" target-dir="./jni/stockfish" />
    <source-file src="src/share/stockfish/src/bitbase.cpp" target-dir="./jni/stockfish" />
    <source-file src="src/share/stockfish/src/bitboard.cpp" target-dir="./jni/stockfish" />
    <source-file src="src/share/stockfish/src/bitboard.h" target-dir="./jni/stockfish" />
    <source-file src="src/share/stockfish/src/endgame.cpp" target-dir="./jni/stockfish" />
    <source-file src="src/share/stockfish/src/endgame.h" target-dir="./jni/stockfish" />
    <source-file src="src/share/stockfish/src/evaluate.cpp" target-dir="./jni/stockfish" />
    <source-file src="src/share/stockfish/src/evaluate.h" target-dir="./jni/stockfish" />
    <source-file src="src/share/stockfish/src/material.cpp" target-dir="./jni/stockfish" />
    <source-file src="src/share/stockfish/src/material.h" target-dir="./jni/stockfish" />
    <source-file src="src/share/stockfish/src/misc.cpp" target-dir="./jni/stockfish" />
    <source-file src="src/share/stockfish/src/misc.h" target-dir="./jni/stockfish" />
    <source-file src="src/share/stockfish/src/movegen.cpp" target-dir="./jni/stockfish" />
    <source-file src="src/share/stockfish/src/movegen.h" target-dir="./jni/stockfish" />
    <source-file src="src/share/stockfish/src/movepick.cpp" target-dir="./jni/stockfish" />
    <source-file src="src/share/stockfish/src/movepick.h" target-dir="./jni/stockfish" />
    <source-file src="src/share/stockfish/src/pawns.h" target-dir="./jni/stockfish" />
    <source-file src="src/share/stockfish/src/pawns.cpp" target-dir="./jni/stockfish" />
    <source-file src="src/share/stockfish/src/position.cpp" target-dir="./jni/stockfish" />
    <source-file src="src/share/stockfish/src/position.h" target-dir="./jni/stockfish" />
    <source-file src="src/share/stockfish/src/psqt.cpp" target-dir="./jni/stockfish" />
    <source-file src="src/share/stockfish/src/search.cpp" target-dir="./jni/stockfish" />
    <source-file src="src/share/stockfish/src/search.h" target-dir="./jni/stockfish" />
    <source-file src="src/share/stockfish/src/thread.h" target-dir="./jni/stockfish" />
    <source-file src="src/share/stockfish/src/thread_win32.h" target-dir="./jni/stockfish" />
    <source-file src="src/share/stockfish/src/thread.cpp" target-dir="./jni/stockfish" />
    <source-file src="src/share/stockfish/src/timeman.cpp" target-dir="./jni/stockfish" />
    <source-file src="src/share/stockfish/src/timeman.h" target-dir="./jni/stockfish" />
    <source-file src="src/share/stockfish/src/tt.cpp" target-dir="./jni/stockfish" />
    <source-file src="src/share/stockfish/src/tt.h" target-dir="./jni/stockfish" />
    <source-file src="src/share/stockfish/src/uci.h" target-dir="./jni/stockfish" />
    <source-file src="src/share/stockfish/src/uci.cpp" target-dir="./jni/stockfish" />
    <source-file src="src/share/stockfish/src/ucioption.cpp" target-dir="./jni/stockfish" />
    <source-file src="src/share/stockfish/src/types.h" target-dir="./jni/stockfish" />
    <source-file src="src/share/stockfish/src/syzygy/tbprobe.cpp" target-dir="./jni/stockfish/syzygy" />
    <source-file src="src/share/stockfish/src/syzygy/tbprobe.h" target-dir="./jni/stockfish/syzygy" />

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="CordovaPluginStockfish">
        <param name="android-package" value="org.lichess.stockfish.CordovaPluginStockfish" />
      </feature>
    </config-file>
  </platform>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="CordovaPluginStockfish">
        <param name="ios-package" value="CordovaPluginStockfish" />
      </feature>
    </config-file>

    <header-file src="src/ios/CordovaPluginStockfish.h" />
    <source-file src="src/ios/CordovaPluginStockfish.mm" />
    <header-file src="src/ios/CordovaPluginStockfishc.h" />
    <header-file src="src/ios/CordovaPluginStockfishios.h" />
    <header-file src="src/share/threadbuf.h" />

    <header-file src="src/share/stockfish/src/bitboard.h" target-dir="./stockfish" />
    <header-file src="src/share/stockfish/src/endgame.h" target-dir="./stockfish" />
    <header-file src="src/share/stockfish/src/evaluate.h" target-dir="./stockfish"/>
    <header-file src="src/share/stockfish/src/material.h" target-dir="./stockfish" />
    <header-file src="src/share/stockfish/src/misc.h" target-dir="./stockfish" />
    <header-file src="src/share/stockfish/src/movegen.h" target-dir="./stockfish" />
    <header-file src="src/share/stockfish/src/movepick.h" target-dir="./stockfish" />
    <header-file src="src/share/stockfish/src/pawns.h" target-dir="./stockfish" />
    <header-file src="src/share/stockfish/src/position.h" target-dir="./stockfish" />
    <header-file src="src/share/stockfish/src/search.h" target-dir="./stockfish"/>
    <header-file src="src/share/stockfish/src/thread.h" target-dir="./stockfish" />
    <header-file src="src/share/stockfish/src/thread_win32.h" target-dir="./stockfish" />
    <header-file src="src/share/stockfish/src/timeman.h" target-dir="./stockfish" />
    <header-file src="src/share/stockfish/src/tt.h" target-dir="./stockfish" />
    <header-file src="src/share/stockfish/src/uci.h" target-dir="./stockfish" />
    <header-file src="src/share/stockfish/src/types.h" target-dir="./stockfish" />
    <header-file src="src/share/stockfish/src/syzygy/tbprobe.h" target-dir="./stockfish/syzygy" />

    <source-file src="src/share/stockfish/src/benchmark.cpp" target-dir="./stockfish" />
    <source-file src="src/share/stockfish/src/bitbase.cpp" target-dir="./stockfish" />
    <source-file src="src/share/stockfish/src/bitboard.cpp" target-dir="./stockfish" />
    <source-file src="src/share/stockfish/src/endgame.cpp" target-dir="./stockfish" />
    <source-file src="src/share/stockfish/src/evaluate.cpp" target-dir="./stockfish" />
    <source-file src="src/share/stockfish/src/material.cpp" target-dir="./stockfish" />
    <source-file src="src/share/stockfish/src/misc.cpp" target-dir="./stockfish" />
    <source-file src="src/share/stockfish/src/movegen.cpp" target-dir="./stockfish" />
    <source-file src="src/share/stockfish/src/movepick.cpp" target-dir="./stockfish" />
    <source-file src="src/share/stockfish/src/pawns.cpp" target-dir="./stockfish" />
    <source-file src="src/share/stockfish/src/position.cpp" target-dir="./stockfish"/>
    <source-file src="src/share/stockfish/src/psqt.cpp" target-dir="./stockfish" />
    <source-file src="src/share/stockfish/src/search.cpp" target-dir="./stockfish" />
    <source-file src="src/share/stockfish/src/thread.cpp" target-dir="./stockfish" />
    <source-file src="src/share/stockfish/src/timeman.cpp" target-dir="./stockfish" />
    <source-file src="src/share/stockfish/src/tt.cpp" target-dir="./stockfish" />
    <source-file src="src/share/stockfish/src/uci.cpp" target-dir="./stockfish" />
    <source-file src="src/share/stockfish/src/ucioption.cpp" target-dir="./stockfish" />
    <source-file src="src/share/stockfish/src/syzygy/tbprobe.cpp" target-dir="./stockfish/syzygy" />
  </platform>
</plugin>
