<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-stockfish" version="1.0.0">
  <name>Cordova Stockfish Plugin</name>
  <description>Cordova interface to Stockfish chess engine.</description>
  <author>Sébastien Renault</author>
  <keywords>cordova,stockfish</keywords>
  <license>MIT</license>

  <js-module src="www/CordovaPluginStockfish.js" name="CordovaPluginStockfish">
    <clobbers target="Stockfish" />
  </js-module>
  <platform name="android">
    <source-file src="src/android/jni" target-dir="." />
    <source-file src="src/android/org.lichess.stockfish/CordovaPluginStockfish.java" target-dir="src/org/lichess/stockfish" />
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="CordovaPluginStockfish">
        <param name="android-package" value="org.lichess.stockfish.CordovaPluginStockfish" />
      </feature>
    </config-file>
  </platform>
</plugin>
